[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Developer-bro-1
	email = 106977463+Developer-bro-1@users.noreply.github.com
